body{
    background-color: rgb(52, 51, 51);
}

.gallery{
    /* border: 1px solid green; */
    width: 900px;
    overflow-x:scroll;
    display: flex;

}

.gallery .slide{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    gap: 20px;
    padding: 10px;
    flex:none;

}

.gallery .slide img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.gallery::-webkit-scrollbar{
    display: none;
}

.scrollArea{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    height: 100vh;
}

#next,#back{
    width: 50px;
    margin: 30px;
    cursor: pointer;
}

.gallery .slide img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    transition: transform .5s;
}